<!DOCTYPE html>
<HTML>
<HEAD>
<base href="/">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/template.css') }}">
</HEAD>
<BODY>
<header class="masthead">
  <p class="masthead-intro"></p>
  <h1 class="masthead-heading">Aaron Williams</h1>
</header>
<section class="introduction">
  <h1 class="heading">Introduction</h1>
  <p>I&rsquo;m a Systems Administrator. I like <strong>Redhat-based systems</strong>, <strong>automation</strong>, and <strong>networking</strong>.</p>
  <p>I have an interest in programming and information security. I am currently attending the University of Maryland University College for a masters degree in cybersecurity.</p>
  <p>.</p>
</section>
<section class="location">
  <h1 class="heading">Where I&rsquo;m From</h1>
  <p>I&rsquo;ve lived in most of the big states in the United States: Alaska, California, and Texas.</p>
  <p>I&rsquo;m currently living in Austin, TX. I have an interest in travel, and would consider working overseas.</p>
</section>
<section class="questions">
  <h1 class="heading">More Stuff</h1>
  <dl class="question-list">
    <dt class="question">Other Interests</dt>
    <dd class="answer">I like movies. Goofy movies, serious movies, action movies. Classics. Being in school, I have very little spare time these days for much more than that.</dd>
    <dt class="question">What&rsquo;s your dream job?</dt>
    <dd class="answer">Cyber defense.</dd>
    <dt class="question">Background</dt>
    <dd class="answer">I&rsquo;ve been in IT going on 10 years. I am constantly learning new things, I really like to learn.</dd>
  </dl>
</section>
<footer class="content-footer">
  <p class="body-copy">Say hi to me on these social networks:</p>
  <ul class="social">
    <li><a href="http://github.com/asw01">Github</a></li>
    <li><a href="https://plus.google.com/">Google+</a></li>
  </ul>
</footer>
</BODY>
</HTML>
